.app-bar {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #212121;
    overflow: hidden;
    z-index: 1;

    @include large {
        position: relative;
    }
}

.app-bar-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 60px;
    position: relative;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 0 auto;
}

.app-bar.open,
.app-bar.open ~ main {
    -webkit-transform: translate(-250px, 0);
    transform: translate(-250px, 0);
}

.app-bar .logo {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 2em;
    line-height: 60px;
    margin: 0 16px;
    padding: 0;
    color: #fefefe;
    float: none;
    max-width: none;
    font-weight: 300;
    display: initial;
}

.app-bar .logo a {
    text-decoration: none;
    color: inherit;
    font-weight: normal;
}

.app-bar-actions {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    z-index: 2;
}

.app-bar button {
    width: 60px;
    height: 60px;
    background-image: none;
    background-color: transparent;
    border: none;
    padding: 0;
    display: inline-block;
    -webkit-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
    -webkit-tap-highlight-color: transparent;
}

.app-bar button img {
    height: 24px;
    width: 24px;
}

.app-bar button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.app-bar button:focus {
    background-color: rgba(255, 255, 255, 0.2);
    outline: 0;
}

.app-bar button:active {
    background-color: rgba(255, 255, 255, 0.4);
}

.app-bar {
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.app-bar-container ul li a {
    height: 60px;
    padding: 17px 20px;
    line-height: 1.4;
}

.app-bar-container ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: none;
}

.app-bar-container ul li a {
    display: block;
    text-decoration: none;
    color: white;
    -webkit-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
    white-space: nowrap;
}

.app-bar-container ul li {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: white;
    padding: 0;
}

.app-bar-container ul li::before {
    content: none;
}

.app-bar-container ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.app-bar-container ul li a:focus {
    background-color: rgba(255, 255, 255, 0.3);
    outline: 0;
}

.app-bar-container ul li a:active {
    background-color: rgba(255, 255, 255, 0.4);
}
/** Larger Screens - desktops and tablets **/

@media all and (min-width: 800px) {
    .app-bar.open,
    .app-bar.open ~ main {
        -webkit-transform: translate(0px, 0);
        transform: translate(0px, 0);
    }
    .app-bar-container {
        display: block;
        height: 80px;
        max-width: $wideContainer;
        padding: 0 16px;
        box-sizing: border-box;
        background-color: #212121;
    }
    .app-bar-container ul {
        float: right;
    }
    .app-bar-container ul li a {
        height: 80px;
        padding-top: 28px;
    }
    .app-bar .logo {
        float: left;
        margin: 0;
        padding: 0;
        line-height: 80px;
        font-size: 46px;
    }
    .app-bar-actions {
        float: right;
    }
    .app-bar::after {
        content: ' ';
        display: block;
        height: 0;
        overflow: hidden;
        clear: both;
    }
    .app-bar-container ul {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .app-bar-container ul li {
        border: none;
    }
}
