@font-face {
    font-family: 'Droid Serif Regular';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/DroidSerif-Regular-webfont.eot);
    src: url(/fonts/DroidSerif-Regular-webfont.eot?#iefix) format('embedded-opentype'), url(/fonts/DroidSerif-Regular-webfont.woff) format('woff'), url(/fonts/DroidSerif-Regular-webfont.ttf) format('truetype'), url(/fonts/DroidSerif-Regular-webfont.svg#amaticbold) format('svg');
}

@font-face {
    font-family: 'Open Sans Regular';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/OpenSans-Regular-webfont.eot);
    src: url(/fonts/OpenSans-Regular-webfont.eot?#iefix) format('embedded-opentype'), url(/fonts/OpenSans-Regular-webfont.woff) format('woff'), url(/fonts/OpenSans-Regular-webfont.ttf) format('truetype'), url(/fonts/OpenSans-Regular-webfont.svg#amaticbold) format('svg');
}