@import '_h5bp';
@import 'components/components';
@import 'fonts';
@import 'hamburger';
@mixin full--background--image($imageUrl) {
    background-image: url($imageUrl);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    color: #fff;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background-color: #fff;
    box-sizing: border-box;
    min-height: 100%;
}

body.open {
    overflow: hidden;
}

section {
    padding-top: 10px;
    padding-bottom: 77px;
    min-height: 100%;
}

.landing-background {
    @include full--background--image('/images/couch.jpg');
    height: 100%;
}

.children-background {
    @include full--background--image('/images/children.jpg');
    opacity: 0.9;
    & .page-header h3 {
        color: #fff;
    }
}

.title {
    position: relative;
    top: 50%;
    transform: translateY(-75%);
}

.dark-page {
    background-color: $colorGray;
    background-size: cover;
    color: #fff;
    & .page-header h3 {
        color: #fff;
    }
}

.promote-layer {
    /*
     * This may promote the layer to a composited layer.
     * Replace with will-change when available
     * #perfmatters
     */
    
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.left {
    text-align: left;
}

.address {
    padding: 0;
    padding-bottom: 30px;
    & h2 {
        margin: 0;
        padding: 0;
    }
    & h4 {
        margin: 0;
        padding: 0;
    }
    & p {
        margin: 0;
        padding: 0;
    }
    @include large {
        padding-bottom: 0;
    }
}

.bio-pic {
    max-width: 50%;
    @include wide {
        padding-top: 100px;
        max-width: 100%;
    }
}

#contact iframe {
    width: 75%;
    height: 400px;
    margin-top: 20px;
    border: none;
    @include wide {
        width: 100%;
        height: 560px;
        margin-top: 0;
    }
}

.for-small {
    display: block;
    @include wide {
        display: none;
    }
}

.for-greater-than-small {
    display: none;
    @include wide {
        display: block;
    }
}

.form {
    color: black;
    display: block;
    width: 75%;
    padding: 6px 12px;
    margin-bottom: 10px;
    line-height: 1.42857143;
    border: 1px solid $colorGrayKeyline;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    @include wide {
        width: 100%;
    }
}

form textarea {
    height: 100px;
}

.button--primary {
    width: 75%;
}

.confidential {
    text-align: center;
    padding-top: 20px;
}

.footer {
    margin: 0;
    padding-bottom: 14px;
    font-size: 13px;
    text-align: center;
    background-color: $colorGrayDark;
    background-size: cover;
    color: #fff;
    position: relative;
    & p {
        font-size: 13px;
        margin: 0;
    }
    & a {
        text-decoration: none;
        color: #fff;
    }
}

.back-to-top {
    display: none;
    position: absolute;
    right: 8em;
    top: 1.6250em;
    @include large {
        display: block;
    }
}

.base,
p,
ul,
ol {
    font-size: 19px;
}

.navdrawer-container {
    z-index: 1;
    position: fixed;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: $colorCyan800;
    color: #fefefe;
    -webkit-transform: translate(250px, 0);
    transform: translate(250px, 0);
    overflow-y: auto;
}

.navdrawer-container.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.navdrawer-container.opened,
main {
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.navdrawer-container h4,
.navdrawer-container ul li a {
    height: 60px;
    padding: 17px 20px;
    line-height: 1.4;
}

.navdrawer-container h4 {
    background-color: white;
    color: $colorCyan400;
}

.navdrawer-container ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.navdrawer-container ul li a {
    display: block;
    text-decoration: none;
    color: white;
    -webkit-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
    white-space: nowrap;
}

.navdrawer-container ul li {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: white;
    padding: 0;
}

.navdrawer-container ul li::before {
    content: none;
}

.navdrawer-container ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.navdrawer-container ul li a:focus {
    background-color: rgba(255, 255, 255, 0.3);
    outline: 0;
}

.navdrawer-container ul li a:active {
    background-color: rgba(255, 255, 255, 0.4);
}

main {
    margin: 0 auto;
    /* Height of the header */
    
    padding: 60px 16px 16px 16px;
    min-height: 100%;
}
/* TODO xlarge and xxlarge */

.huge {
    font-family: $fontHighlight;
    padding-bottom: 0;
    @include wide {
        font-family: $fontHighlight;
        font-size: 68px;
        font-weight: 300;
        line-height: 1.1471em;
        padding-top: 0.3824em;
    }
    @include large {
        font-size: 110px;
        font-weight: 300;
        line-height: 1.19em;
        padding-top: 0.2364em;
    }
}
/** Larger Screens - desktops and tablets **/

@media all and (min-width: $large) {
    button.menu {
        display: none;
    }
    .navdrawer-container {
        display: none;
    }
    .navdrawer-container h4 {
        display: none;
    }
    main {
        max-width: $wideContainer;
        padding-top: 0;
        min-height: initial;
    }
    body {
        overflow-y: scroll;
    }
    section {
        padding-top: 0;
    }
}

.app-bar {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #212121;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    @include large {
        position: relative;
    }
}

.app-bar-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 60px;
    position: relative;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 0 auto;
    @include large {
        display: block;
        height: 80px;
        max-width: $wideContainer;
        padding: 0 16px;
        box-sizing: border-box;
        background-color: #212121;
    }
}

.app-bar.open,
.app-bar.open ~ main {
    -webkit-transform: translate(-250px, 0);
    transform: translate(-250px, 0);
    @include large {
        -webkit-transform: translate(0px, 0);
        transform: translate(0px, 0);
    }
}

.app-bar .logo {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 2em;
    line-height: 60px;
    margin: 0 16px;
    padding: 0;
    color: #fefefe;
    float: none;
    max-width: none;
    font-weight: 300;
    display: initial;
    @include large {
        float: left;
        margin: 0;
        padding: 0;
        line-height: 80px;
        font-size: 46px;
    }
}

.app-bar .logo a {
    text-decoration: none;
    color: inherit;
    font-weight: normal;
}

.app-bar-actions {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    z-index: 2;
    @include large {
        float: right;
    }
}

.app-bar button {
    width: 60px;
    height: 60px;
    background-image: none;
    background-color: transparent;
    border: none;
    padding: 0;
    display: inline-block;
    -webkit-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
    -webkit-tap-highlight-color: transparent;
}

.app-bar button img {
    height: 24px;
    width: 24px;
}

.app-bar button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.app-bar button:focus {
    background-color: rgba(255, 255, 255, 0.2);
    outline: 0;
}

.app-bar button:active {
    background-color: rgba(255, 255, 255, 0.4);
}

.app-bar-container ul li a {
    height: 60px;
    padding: 17px 20px;
    line-height: 1.4;
}

.app-bar-container ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: none;
    @include large {
        float: right;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

.app-bar-container ul li a {
    display: block;
    text-decoration: none;
    color: white;
    -webkit-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
    white-space: nowrap;
    @include large {
        height: 80px;
        padding-top: 28px;
    }
}

.app-bar-container ul li {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: white;
    padding: 0;
    @include large {
        border: none;
    }
}

.app-bar-container ul li::before {
    content: none;
}

.app-bar-container ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.app-bar-container ul li a:focus {
    background-color: rgba(255, 255, 255, 0.3);
    outline: 0;
}

.app-bar-container ul li a:active {
    background-color: rgba(255, 255, 255, 0.4);
}

@include media-query(large) {
    .app-bar::after {
        content: ' ';
        display: block;
        height: 0;
        overflow: hidden;
        clear: both;
    }
}
